/* our courses */

.course-container-text, .section-course, .course-sub-title  {
    background-color: #080808;
}

.course-sub-title {
    margin: 0rem;
}

.course-container-text h1, h2 {
    color: #ff6200;
    font-weight: 600;
}

.course-container-text p {
    color: #e6e6e6;
}

.card-course {
    border-radius: 1rem;
    color: #e6e6e6;
    background: none;
    border: 0.1rem solid rgb(15, 15, 15);
    background-color: #0c0c0c;
}

@media screen and (min-width: 320px) {
    .course-container-text, .course-sub-title  {
        padding: 0rem 2rem;
    }
    
    .section-course {
        padding: 2rem;
    }
    
    .card-course {
        width: 11rem;
        padding: 1.8rem;
        margin: .8rem;
    }
}

@media screen and (min-width: 768px) {    
    .section-course {
        padding: .8rem 2rem;
    }
    
    .card-course {
        width: 12rem;
        margin: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .card-course {
        margin: 2.5rem;
        transition: .3s;
    }

    .card-course:hover {
        border: .1rem solid rgb(128, 128, 128);
    }
}

@media screen and (min-width: 1300px) {
    .card-course {
        margin: 3rem;
    }
}

/* our courses */

/*Daniela Seccion consultas */

.help-section {
    padding: 3rem 1rem;
    background-color:orangered ;
}

