/* our courses */
.container-main{
    background-color: #fafafa ;
}

.card-body {
    border: 5px;
}

.card-img-top {
    font-size: 170px;
}

.container-icono {
    width: 65%;
}

.container-card-courses:hover {
        transform: scale(1.005);
       border: 0.1rem solid rgb(99, 98, 98);
       box-shadow: 0 0 12px 2px rgb(99, 98, 98);
       transition: 0.6s;
    }

/* our courses */

/*Daniela Seccion consultas */

.help-section {
    padding: 5.5rem;
    background-color:orangered ;
}

