* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* dev-martin*/

header {
    background-color: #080808;
    /* height: 12vh; */
    padding: 2rem;
    color: #e6e6e6;
    /* width: 100%; */
}

/* .container-fluid {
    background-color: #080808;
} */

.logo {
    width: 4.2rem;
    border-radius: 8rem;
}


.menu {
    display: flex;
    justify-content: end;
}

.menu a {
    margin-right: 2rem;
    color: #e6e6e6;
}

.nav-link {
    color: #e6e6e6;
    
}

.nav-link:hover {
    color: white;
    border-bottom: 0.1rem solid #f26106;
    transition: 0.3s;
}

.navbar-nav .buttom-link {
    color: #f26106;
}

.nav-link:focus, .nav-link:hover {
    color: #e6e6e6;
}



@media screen and (min-width: 320px) {
    .logo {
        display: none;
    }

    .menu a {
        margin-right: 2.5rem;
        padding-bottom: 1.2rem;
    }
    
}

@media screen and (min-width: 768px) {
    .logo {
        display: initial;
    }

    .navbar {
        margin-inline: 40px;
    }
}

/* section[id] {
    scroll-margin-top: 80px;
} */

/* dev-martin*/

/* about-us */
.container-title{
    background: #fafafa;
    color: #ff6200;
    font-weight: 600;
}

/* Sobre Rolling - Daniela Gonzalez */



.container-avatar {
    width: 70%;;
}

.container-about-us {
    background-color: #080808;
}

.container-card:hover {
    transform: scale(1.005);
   border: 0.1rem solid rgb(99, 98, 98);
   box-shadow: 0 0 12px 2px rgb(99, 98, 98);
}

/*@media screen and (: 320px) {
    .third-section h2 {
        text-align: center;
    }

}


/* form*/

.contact-container {
    background-color: #fafafa;
  }
  
  form h2 {
    color: #ff6200;
    font-weight: 600
  }
  
  .contact-container form input, textarea {
    border-radius: .5rem;
    border: 0.1rem solid rgb(117, 117, 117);
    outline: none;
    resize: none;
  }
  
  .contact-container form input:focus{
    box-shadow:  0 0 5px 3px #ff6200;
    border: .1rem solid #ff6200;
  }
  
  .contact-container form textarea:focus{
    box-shadow:  0 0 5px 3px #ff6200;
    border: .1rem solid #ff6200;
  }
  
  @media screen and (min-width: 320px) {
    .image-container {
      display: none;
    }
  
    .contact-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
    }
  
    .contact-container form {
      width: 80%;
    }
  
    .contact-container form input, textarea {
      width: 100%;
      padding: 1rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .image-container {
      display: initial;
      justify-content: center;
      align-items: center;
      width: 40%;
    }
  
    .image-container img {
      width: 100%;
    }
  
    .contact-container {
      justify-content: space-between;
      padding: 0rem;
    }
  
    .contact-container form {
      width: 40%;
    }
  
    form {
      margin-right: 5rem;
    }
  }
  
  @media screen and (min-width: 1300px) {
    form {
      margin-right: 7rem;
    }
  }

/* form*/

/* dev Daniela donde  encontrarnos */
.donde-encontrarnos {
    background-color: #080808;
    color: #e6e6e6;
    padding: 120px;
    

}
.donde-encontrarnos h2{
    color: #f26106;
    font-weight: bold;
    
}

/* FOOTER */

footer {
    background-color: #080808;
    color: #e6e6e6;
}

.container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: .8rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.container-links p {
    border-bottom:  0.1rem solid #f26106;
}

footer img {
    width: 1.3rem;
    margin-right: .8rem;
}

.links a {
    text-decoration: none;
    color: #e6e6e6;
    margin-bottom: .8rem;
}

.links a:hover {
    color: white;
}

@media screen and (min-width: 320px) {
    .links {
        margin: 1rem 2.5rem;
    }

    .miguel {
        padding-left: .5rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-right: 1.2rem;
    }

    .martin {
        padding-right: 1.2rem;
    }
}

@media screen and (min-width: 638px) {
    .links {
        margin: 1rem 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .links {
        margin: 1rem 4.2rem;
    }

    .miguel {
        padding-left: .4rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-left: 0rem;
    }

    .martin {
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .links {
        margin: 0rem;
    }

    .miguel {
        padding-left: 0rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-left: 0rem;
    }

    .martin {
        padding-right: 0rem;
    }
}


