* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* dev-martin*/

header {
    /* background-color: #080808; */
    height: 12vh;
    /* color: #e6e6e6; */
    width: 100%;
}

.navbar {
    background-color: #080808;
    height: 12vh;
    padding-inline: 75px;
    width: 100%;
}

.logo {
    width: 60px;
    border-radius: 50px;
}

.navbar a {
    color: #e6e6e6;
}

.nav-item {
    margin-inline: 13px;
}

.nav-item a:hover {
    color: white;
}

.nav-item a:active {
    color: #e6e6e66f;
}

.nav-link {
    color: #e6e6e6;
}

.nav-link:focus {
    color: #e6e6e66f;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

.navbar-toggler {
    background-color: #e6e6e6;
}

.btn-navbar {
    background-color: #f26106;
    color: #e6e6e6;
    padding-inline: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-navbar:hover {
    border: solid 1px white;
    background-color: #f68138;
    color: white;
}

@media (max-width: 992px) {
    .collapse {
        background: #4950577a;
        margin-right: 75%;
    }
}

@media (max-width: 912px) {
    .header {
        height: 10vh;
    }

    .logo {
        width: 70px;
    }    
}

@media (max-width: 769px) {
    .logo {
        width: 70px;
    }
}

@media (max-width: 540px) {
    .logo {
        width: 61px;
    }
}

@media (max-width: 445px) {
    .navbar {
        padding-inline: 48px;
    }
}

@media (max-width: 393px) {
    .logo {
        width: 60px;
    }
} 

@media (max-width: 375px) {
    .logo {
        width: 53px;
    }
}

@media (max-width: 360px) {
    .header {
        height: 11vh;
    }
    
    .logo {
        width: 55px;
    }
}

@media (max-width: 281px) {
    .logo {
        width: 58px;
    }
}

section[id] {
    scroll-margin-top: 80px;
}

/* dev-martin*/

/* about-us */
.container-title{
    background: #fafafa;
    color: #ff6200;
    font-weight: 600;
}

.container-avatar {
    width: 70%;;
}

.container-about-us {
    background-color: #080808;
}

.container-card:hover {
    transform: scale(1.005);
   border: 0.1rem solid rgb(99, 98, 98);
   box-shadow: 0 0 12px 2px rgb(99, 98, 98);
}


/* form*/

.container-img{
    width: 100%;
}

.container-form {
    width: 100%;
    border: tomato;
}

.container-dates{
    width: 50%;
    border-radius: 10px;    
}

/* form*/


/* FOOTER */

footer {
    background-color: #080808;
    color: #e6e6e6;
}

.container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: .8rem;
}

.links {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 1.3rem;
    margin-right: .8rem;
}

.links p {
    border-bottom:  0.1rem solid #f26106;
}

.links a {
    text-decoration: none;
    color: #e6e6e6;
    margin-bottom: .8rem;
}

.links a:hover {
    color: white;
}

@media screen and (min-width: 320px) {
    .links {
        margin: 1rem 2.5rem;
    }

    .miguel {
        padding-left: .5rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-right: 1.2rem;
    }

    .martin {
        padding-right: 1.2rem;
    }
}

@media screen and (min-width: 638px) {
    .links {
        margin: 1rem 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .links {
        margin: 1rem 4.2rem;
    }

    .miguel {
        padding-left: .4rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-left: 0rem;
    }

    .martin {
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .links {
        margin: 0rem;
    }

    .miguel {
        padding-left: 0rem;
    }

    .daniela {
        padding-left: 0rem;
    }

    .franco {
        padding-left: 0rem;
    }

    .martin {
        padding-right: 0rem;
    }
}


