* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* SECCION "CONSTRUYE TU FUTURO" */

.first-section {
    background-color: #080808;
    color: #e6e6e6;
}

.title-link span {
    color: #ff6200;
}

.title-link a {
    background-color: #ff6200;
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    text-decoration: none;
}

.title-link a:hover {
    cursor: pointer;
}

.second-section {
    background-color: #080808;
    color: #e6e6e6;
    text-align: center;
}

.second-section h2 {
    color: #ff6200;
    font-weight: 600;
}

@media screen and (min-width: 320px) {
    .first-section {
        display: flex;
        flex-direction: column;
        padding: 0rem 1.2rem;
        align-items: center;
    }

    .title-link h1 {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    
    .images {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .images img {
        width: 15rem;
        border-radius: .3rem;
    }

    .images .women {
        margin-right: 4rem;
    }

    .images .man {
        margin-top: -3rem;
        margin-left: 4rem;
    }

    .second-section {
        padding: 0.5rem 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .second-section {
        padding: 0.5rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .first-section {
        flex-direction: row;
        justify-content: space-around;
        padding: 0rem 3.5rem;
        
    }

    .title-link h1 {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .title-link a {
        padding: .8rem 1rem;
    }

    .images figure .women{
        margin-right: 6rem;
    }

    .images .man {
        margin-top: -4rem;
    }

    .images {
        margin-top: 3.5rem;
    }

    .images img {
        width: 20rem;
    }

    .second-section {
        padding: 1rem 3.5rem;
    }
}

@media screen and (min-width: 1300px) {
    .first-section {
        margin-bottom: -2rem;
    }
    
    .title-link {
        margin-left: 2rem;
    }
    
    .title-link h1 {
        font-size: 2.8rem;
    }

    .title-link a {
        padding: .8rem 1rem;
    }
    
    .title-link h1 {
        font-size: 3rem;
    }

    .images img {
        width: 27rem;
        margin-left: 5.5rem;
    }

    .second-section {
        padding: 6rem 3rem;
    }
}

/* SECCION "TE PREPARAMOS PARA" */

.third-section {
    color: #e6e6e6;
    background-color: #080808;
}

.third-section h2 {
    color: #ff6200;
    font-weight: 600;
}

@media screen and (min-width: 320px) {
    .third-section h2 {
        text-align: center;
    }

    .developer-item  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .developer-item figure {
        margin: 1.2rem 0rem;
        text-align: center;
    }

    .developer-item img {
        width: 80px;
    }

    .developer-item figcaption {
        margin-top: 1rem;
    }

    .video {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .third-section {
        padding: 0rem 1.2rem;
        display: flex;
        justify-content: center;
    }

    .developer-item  {
        flex-direction: row;
    }

    .developer-item figure {
        margin: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .third-section {
        padding: 2rem 1.2rem;
    }
    
    .developer-item  {
        flex-wrap: wrap;
        margin-left: 3.5rem;
    }
   
    .developer-item figure {
        margin: 1.5rem 1rem;
    }

    .developer-item img {
        width: 64px;
    }

    .video-container {
        width: 55%;
        margin-right: 2rem;
        margin-top: 3rem;
    }
    
    .video {
        display: initial;
        width: 100%;
        border-radius: .3rem;
    }
}

@media screen and (min-width: 1300px) {
    .third-section {
        padding: .5rem 1.2rem;
    }
    
    .developer-item  {
        margin-left: 8rem;
    }

    .video-container {
        width: 48%;
        margin-right: 4rem;
        margin-top: .5rem;
    }
}

/* SECCION "LOS MEJORES PROFESORES */

.teachers {
    background-color: #080808;
}

.cont-teachers {
    display: flex;
    justify-content: space-between;
    padding-inline: 75px;
    padding-top: 65px;
}

.cont-img-teachers {
    width: 50%;
    text-align: center;
}

.img-teachers {
    width: 98%;
    border-radius: 0.3rem;
}

.cont-text-teachers {
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.h2-teachers {
    color: #ff6200;
    font-weight: 600;
}

.p-teachers {
    color: #e6e6e6;
    padding-block: 1.5rem;
}

.link-teachers {
    color: #e6e6e6;
    background-color: #ff6200;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    
}

.link-teachers:hover {
    cursor: pointer;
}

/* SECCION "NUESTROS ALUMNOS" */

.container-students {
    color: #e6e6e6;
    background-color: #080808;
}

.container-students h2 {
    color: #ff6200;
    font-weight: 600;
}

.card {
    margin: 1rem 2.5rem;
    background-color: #080808;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05);
    border: 0.1rem solid rgb(99, 98, 98);
    box-shadow: 0 0 12px 2px rgb(99, 98, 98);
}

@media screen and (min-width: 1300px) {
    .container-students {
        padding-top: 4rem;
    }
}



